//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Paper.rasi"
//@theme "/usr/share/rofi/themes/Indego.rasi"
//@theme "/usr/share/rofi/themes/Paper.rasi"


configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "~/.config/rofi/kages-theme.rasi"
